<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <semantic_search>
            <general>
                <enabled>1</enabled>
                <api_url>http://127.0.0.1:8000</api_url>
                <api_key></api_key>
                <license_key></license_key>
                <result_limit>10</result_limit>
            </general>
            <llm_settings>
                <enable_intent>0</enable_intent>
                <llm_provider></llm_provider>
                <llm_model></llm_model>
                <llm_api_key></llm_api_key>
            </llm_settings>
            <sync>
                <auto_sync_enabled>0</auto_sync_enabled>
                <cron_expression>0 * * * *</cron_expression>
                <batch_size>20</batch_size>
            </sync>
        </semantic_search>
    </default>
</config>
