<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Czar_SemanticSearch::dashboard"
             title="Semantic Search"
             module="Czar_SemanticSearch"
             sortOrder="90"
             parent="Magento_Backend::content"
             action="semanticsearch/dashboard/index"
             resource="Czar_SemanticSearch::dashboard"/>
    </menu>
</config>
