<?xml version="1.0"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Magento_Backend::content">
                <resource id="Czar_AiChatbot::dashboard" title="AI Chatbot" sortOrder="90">
                    <resource id="Czar_AiChatbot::config" title="Settings" sortOrder="10"/>
                </resource>
            </resource>
        </resource>
    </resources>
</acl>
